*,
*:before,
*:after {
  box-sizing: inherit;
}

.column {
  width: 100%;
  display: block;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
  position: relative;
  img {
    width: 15em;
    border-radius: 10%;
    float: left;
    padding-right: 0.8em;
  }
}
.card {
  padding: 2em;
}
.about-section {
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}

.container::after,
.row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.bone {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  border-radius: 5%;
  text-align: center;
  cursor: pointer;
  width: 15%;
  height: 10%;
}
