.main-form {
  display: grid;
  margin-top: 2em;
  grid-template-areas:
    "form-content"
    "form-image";
  justify-content: center;
  align-items: center;
}

.landing-header {
  display: grid;
  justify-content: center;
  grid-template-areas:
    "greeting-card"
    "landing-image";
}
