@use "../base/variables" as v;
.landing-header {
  margin: 2em 2em 0 2em;
  .greeting-card {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    grid-area: greeting-card;
    color: v.$navColor;

    .menu-btn {
      margin-right: 0.5em;
      width: 11rem;
    }
    h1 {
      font-size: 4rem;

      span {
        color: #850e35;
      }
    }
  }
}
.landing-image {
  grid-area: landing-image;
  display: flex;
  img {
    margin: auto;
    width: 28rem;
    border-radius: 4%;
    mask-image: url("../../images/form-images/blob.svg");
    mask-size: contain;
    mask-repeat: no-repeat;
    mask-position: bottom;
  }
}
