.header {
    text-align: center;
    background: white;
    height: 400px;
    width: auto;
  }
  
  .header h1 {
    font-size: 50px;
  }
  
  /* Left column */
  .leftcolumn {
    float: left;
    width: 100%;
  }
  
  /* Fake image */
  .fakeimg {
    width: 100%;
    height: 200px;
  }
  .fakeimg img {
    width: 75%;
    height: 250px;
    object-fit: cover;
    border-radius: 25%;
  }
  
  /* Add a card effect for articles */
  .card {
    padding: 20px;
    margin-top: 20px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Footer */
  .footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
  }
  