//Nav
@media (min-width: 1060px) {
  nav .nav-items {
    display: flex;
    position: static;
    margin: 0;
    background-color: transparent;
  }
  nav .fa-solid {
    display: none;
  }
  .nav-links li {
    display: inline;
    padding-right: 0.7em;
  }
  .socials {
    margin-right: 0.6em;

    li {
      padding-right: 0.5em;
    }
  }
}
@media screen and (max-width: 768px) {
  .content {
    flex-wrap: wrap;
    flex: 0 50%;
    text-align: center;
    padding: 0%;
  }
  .leftcolumn {
    align-items: center;
  }
}
// 1189px
@media (min-width: 1189px) {
  .main-form {
    grid-template-areas: "form-content form-image";
  }
  .form-image .dog-img {
    width: 50em;
  }
}

// About page
@media screen and (min-width: 1200px) {
  .column {
    float: left;
    width: 32%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
}
