/* Imports */

/* Navigation */
nav {
  display: flex;
  flex-direction: column;
}
.nav-items {
  list-style-type: none;
}
.nav-items li {
  display: inline;
  padding-right: 1em;
}
.logo {
  width: 12em;
}
/* Main Content */
body {
  background-image: url(images/karsten-winegeart-pQVecS8pBNY-unsplash.jpg);
  background-size: cover;
}

@media only screen and (min-device-width: 576px) {
  body {
    background-repeat: no-repeat;
    
  }
}