
/* Imports */
@import url("https://fonts.googleapis.com/css2?family=Rubik+Marker+Hatch&display=swap");
/* Navigation */
.logo {
  width: 20em;
  height: 20em;
}
.nav{
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
}
/* Main Content */
body {
  background: linear-gradient(to left, #ff7e5f, #feb47b);
  margin: 0;
  font-family: "Rubik Marker Hatch", cursive;
  color: #a27b5c;
}
.menu {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
img{
  width: 100%;
}

