/* Imports */
@import url("https://fonts.googleapis.com/css2?family=Rubik+Marker+Hatch&display=swap");
/* Navigation */

.logo {
  width: 12em;
  height: 12em;
}
/* Main Content */
body {
  background: linear-gradient(to left, #ff7e5f, #feb47b);
  margin: 0;
}
.main-content {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.main-content h1 {
  font-family: 'Rubik Marker Hatch', cursive;
}
.dog {
  width: 100%;
}
