body {
  margin: 0;
  padding: 0;
  border: 0;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
button {
  border-radius: 8%;
  border-style: none;
  padding: 0.5em 1em 0 1em;
  font-size: 1.2em;
}
input {
  border-radius: 5%;
  border-style: none;
}
